:root{
    --clr-success: hsl(143, 100%, 26%);
    --clr-warning: hsl(43, 100%, 66%);
    --clr-error: hsl(348, 55%, 49%);
}

html{
    font-size: 2rem;
    font-family: system-ui;
    color-scheme: dark;
}

form{
    display: grid;
    gap: 0.7rem;
    max-width: 30ch;
    margin: 2rem auto;
}

.form-group{
    display: grid;
    gap: 0.25rem;
}

label{
    font-size: 0.75rem;
}

input,
button{
    font-size: inherit;
}

input{
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 0;
    background-color: hsl(201, 31%, 11%);
    outline: 3px solid hsl(203, 30%, 26%);
}


input:not(:placeholder-shown):invalid{
    outline-color: var(--clr-error);
}

input:not(:placeholder-shown):valid{
    outline-color: var(--clr-success);
}

input:focus:invalid{
    outline-color: var(--clr-warning)
}
